# .streamlit/secrets.toml
# Copy this file and fill in your actual credentials

[mysql]
host = "portfolio-monitor-05-shyamsunderpatri-6ebf.b.aivencloud.com"
database = "defaultdb"
user = "avnadmin"
password = "AVNS_-29EVsVVRp77rahFu5Q"  
port = 27648

# Optional: Email configuration (for alerts)
[email]
sender_email = "pssundaar@gmail.com"
sender_password = "ibpl ptdp oueh drjr"  # Gmail App Password
recipient_email = "shyamsunderpatri@gmail.com"
